.Charizard {
    max-width: 50%;
}
.Charmeleon {
    max-width: 10%;
}

table {
    background-image: url(https://st2.depositphotos.com/1128918/7081/i/950/depositphotos_70815511-stock-photo-orange-gradient-on-the-grey.jpg);
}

#water, #ability{
    color: blue;
}

.fas{
    color: red;
}
#neutral {
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#info {
    background-color: gold;
}

.bold {
    font-weight: bold;
}